@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'ivy-mode';
  src: url('./assets/fonts/ivy-mode-9.ttf');
}
@font-face {
  font-family: 'nunito-sans';
  src: url('./assets/fonts/nunito-sans-3.ttf');
}
@font-face {
  font-family: 'poppins';
  src: url('./assets/fonts/poppins.ttf');
}
@font-face {
  font-family: 'spartan-mb-5';
  src: url('./assets/fonts/spartan-mb-5.ttf');
}
.before {
 /* Animation for translating the element along the X-axis */
 animation: currentTranslationAnimation 2s infinite;
}
.slider {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  position: relative;
 }
  
 .slider .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  animation: slider 20s infinite;
 }
  
 .slider .slide:nth-child(1) {
    animation-delay: 0s;
 }
 
 .slider .slide:nth-child(2) {
    animation-delay: -4s;
 }
 
 .slider .slide:nth-child(3) {
    animation-delay: -8s;
 }
 
 .slider .slide:nth-child(4) {
    animation-delay: -12s;
 }
 
 .slider .slide:nth-child(5) {
    animation-delay: -16s;
 }
 .slider .slide:nth-child(6) {
    animation-delay: -20s;
  }
 
 @keyframes slider {
  0%, 18%, 100% {
    transform: translateX(0);
    animation-timing-function: ease;
  }
  20% {
    transform: translateX(-100%);
    animation-timing-function: step-end;
  }
  98% {
    transform: translateX(100%);
    animation-timing-function: ease;
  }
 }


a::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: black;
  transition: width 0.3s ease-in-out;
}
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
 .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
 .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    /* scrollbar-width: none;  Firefox */
  }
}
a:hover::after {
  width: 100%;
  height: 1px;
  background-color: black;
}
.link {
  cursor: pointer;
}
.link::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: black;
  transition: width 0.3s ease-in-out;
}

.link:hover::after {
  width: 100%;
  height: 1px;
  background-color: black;
}